/* Main, elements */
body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1.5rem;
    background-color: #F9F9F9;
    margin: 0;
    padding: 2px;
}

.header {
    margin-top: 120px;
    text-align: center;
}

h1, h2 {
    opacity: 0.7;
}

.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

img {
    max-width: 40%;
    height: auto;
}

table {
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content p{
    text-align: justify;
    text-justify: inter-word;
}


/* contact */
.contact {
    margin-top: 50px;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    opacity: 0.5;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {

    .header {
        margin-top: 10px;
    }

    .container {
        padding: 10px;
    }

    .contact ul li {
        font-size: 16px;
    }
}

.animate {
    opacity: 0;
    animation: animate-delay .5s ease-in-out .5s forwards;
}
  
@keyframes animate-delay {
    to {
      opacity: 1;
    }
}